.formPage{
    background: white;
    box-shadow: 1px 2px 14px 4px #3e404078;
    border-radius: 5px;
    .breadcrumb{
        margin-bottom: 0;
    }
    .headingArea{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        border-bottom: 2px solid #c3c3c3;
        span{
            color: #4c5354;
            font-size: 17px;
            font-weight: 550;
        }
        a{
            padding:4px;
            background: tomato;
            color:white;
            border-radius: 50%;
        
        }
    }
    .ProductForm{
        padding: 10px;
    }
}