.card{
    margin-right: 20px;
    width: 400px;
    img{
      height: 200px;   
    }
    .card-title{

    }
    .card-subtitle{

    }
}
.button{
    background: #1d1d1d;
    a{
        color:white;
    }
}