.cardText {
  text-align: center;
}
.addCardContainer {
  width: 100%;
}
.addButtonContainer {
  display: flex;
  justify-content: center;

  .addButton {
    padding: 20px;
    border-radius: 50%;
    &:hover {
      background: black;
      svg {
        color: white;
      }
    }
  }
}
